/*
アプリケーション全体に反映される
import "./App.css";
---
特定のクラスにものみ適応させる
import styles from "./App.css";
<h1 className={styles.~}>Hello!</h1>
*/

/* CSSの初期化や全体反映のみ指定 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
