/* src/App.css */

/* 基本的なリセットと背景設定 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff; /* 全体の背景色: 明るいオフホワイト */
  color: #242424; /* 全体の文字色: ダークグレー */
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}